
.cdb-wrap {
    border-radius: 2px;
    border: solid 1px #bfbfbf;
    background-color: #ffffff;
    width: 132px;
    height: 36px;
    padding: 0 8px;
    cursor: pointer;
}

.cdb-date-text {
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    // line-height: 9;
    letter-spacing: -0.07px;
    text-align: left;
    color: #666666;
}