:root {
    --dark-blue: #294960;
    --pink: #e4cfc8;
    --lightpink: #f1e7e3;
    --olive: #bcba8c;
    --lightolive: #dddcc5;
    --mustard: #d0a13e;
    --lightmustard: #e7d09e;
    --brown: #cd7e47;
    --lightbrown: #e6bea3;
    --rightgrey: #e7e7e7;
    --orange-point: #ffb2af;
    --green-point: #a7d0c9;
    --grey-point: #bababa;
    --dark-grey-point: #646666;
    --blue-point: #6e8bff;
    --color-03-on-primary-a-high-emphasis: #000000;
    --point-orange: #ff6560;

    --tktk-accent: #06745a;

    --deepgreen: #06745a;
    --point-red: #f3120b;
    --point-blue: #006cfa;
    --grey-box: #eaedf3;
    --rightgrey: #f6f8fc;
    --grey-button: #d8d8d8;

    --grid-border: #979797;

    --primary-color: #06745a;
    --primary-darker-color: #03573f;

    --deep-green: #06745a;
    --red: #f3120b;
    --blue: #006cfa;
    --peanut-grey: #eaedf3;
    --light-grey: #d8d8d8;
    --grey: #979797;
    --dark-grey: #393a3a;
    --pale-grey: #f6f8fc;
    --white: #fff;
    --black: #000;
}
