
.cu-headline {
    font-family: NanumGothic;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    color: var(--dark-grey);
}

.cu-search-filter-label-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: var(--dark-grey);
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 2vw 0;
}

.page-title2 {
    font-size: 1.5rem;
    font-weight: bold;
    // margin: 0 0 2vw 0;
}

.cu-page-title-text {
    font-weight: bold;
    font-size: 2rem;
    color: var(--page-title-text-color)
}

.cu-select-text {
    color: var(--select-text-color);
}

//////////////////////////////////////////////

//////////////////////////////////////////////
