// @import "./order-detail.scss";
@import "cu-table.scss";
@import "cu-text.scss";
// @import "pf-form.scss";

// .pf-header-inner {
//     margin: 2vw;
//     // padding: 10vw;
// }

.cu-page-body {
    margin: 2vw;
    min-width: 320px;
}

// .pf-main-noti-box {
//     margin-top: 20px;
//     border: 2px solid #000;
//     padding: 10px;
//     line-height: 1.8;
// }
// .pf-main-noti-box span {
//     background-color: #000;
//     color: #fff;
// }

.cu-spacer {
    flex: 1 1 auto;
}

//////////////////////////////////////////////

//////////////////////////////////////////////
