

.bg-primary-org {
    width: 100%;
    height: 53px;
    // margin: 0 0 21px;
    // padding: 18px 312px 19px 313px;
    border-radius: 5px;
    background-color: var(--primary-org);
    // mix-blend-mode: difference;
    
 }

  .color-name-text {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .bg-white {
    width: 100%;
    height: 53px;
    // margin: 0 0 21px;
    // padding: 18px 312px 19px 313px;
    border-radius: 5px;
    background-color: #fff;
    // mix-blend-mode: difference;
 }

 .bg-black {
  width: 100%;
  height: 53px;
  // margin: 0 0 21px;
  // padding: 18px 312px 19px 313px;
  border-radius: 5px;
  background-color: #000;
  // mix-blend-mode: difference;
}
