<h1 mat-dialog-title *ngIf="data.title" class="text-danger"> {{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.message}}</p>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" style="margin-top: 32px;">
    <button 
    *ngIf="data.showCancel==='Y'" [@fadeIn]
    mat-raised-button style="width: 100px;" [color]="data.cancelBtnColor" (click)="onNoClick()">
        취소
    </button>
    <button mat-raised-button style="width: 100px;" [color]="data.okBtnColor" (click)="onClickOk()">
        {{okBtnName}}
    </button>
</div>

